
/* HEADER STYLING */
header{
	
}

	header h2 {
		background-color: #ffffff;
		font-family: 'League Gothic', sans-serif;
		line-height: 23px;
		margin: 0;
		padding: 0 20px;
		position: absolute;
		text-transform: uppercase;
	}

	header .container {
		position: relative;
	}

#scrollUp {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
    bottom: 5px;
    color: #F58220;
    font-size: 50px;
    line-height: 100%;
    padding: 5px;
    right: 20px;
}

	#scrollUp:hover,
	#scrollUp:focus{
		text-decoration:none;
	}

	#scrollUp:before{
		content:"\e133"; /* up arrow in circle*/
		font-family: 'Glyphicons Halflings';
	}

#carousel-winners-info {
	background-color: white;
	height: 109px;
	width: 281px;
	position: absolute;
	right: 23px;
	top: 311px;
	font-family: 'League Gothic', sans-serif;

}

	#carousel-winners-info .item {
		padding: 50px 30px;
	}

.comic-strip {
	height: 123px;
}

footer.comic-strip {
	background-image: url(../img/BannerBottom.jpg);
}

header.comic-strip {
	background-image: url(../img/BannerExtend.gif);
}

	header.comic-strip .container:hover {
		background-image: url(../img/Banner_Over.gif);
		height: 123px;
	}

		header.comic-strip .container:hover img {
			display: none;
		}

section{
	margin: 46px 0;
}

section header {
	color: #626166;
	height:23px;
	margin-bottom: 46px;
}	

	section.judges header {
		background-image: url(../img/YellowBand.gif);
	}

		section.judges header h2{
			left:50%;
		}

	section.judges h3 {
		text-transform: uppercase;
		font-family: 'League Gothic', sans-serif;
		font-size: 3.0em;
		color: #09B0A0;
	}

	section.judges h4 {
		text-transform: uppercase;
		font-family: 'League Gothic', sans-serif;
		font-size: 1.3em;
		color: #F56C00;
	}

	section.judges span {
		color: #09B0A0;
	}

	section.judges img {
		width: 224px;
	}

	section.behind-scenes header{
		background-image: url(../img/RedBand.gif);
	}

		section.behind-scenes header h2{
			left:0;
		}

	section.sponsors header{
		background-image: url(../img/BlueBand.gif);
	}

		section.sponsors header h2{
			right:10%;
		}

/* PRIMARY */

.primary{
	position: relative;
}

	.primary .container{
		position: relative;
	}

	.primary a.winners{
		position: absolute;
		right:0;
		top:116px;
	}

	.primary .winners-extend{
		height:172px;
		padding-left:50%;
		position: absolute;
		top:116px;
		width: 100%;
	}

	.primary .winners-extend .background {
		background-image: url(../img/WinnersExtend.gif);
		height:172px;
		margin-left:480px;
	}

.viewport-padding{
	padding: 0 20px;
	position: relative;
}

	.viewport-padding .viewport{
		border-left:1px solid #CCC;
		border-right:1px solid #CCC;
		overflow: hidden;
	}

		.viewport-padding .viewport a{
			padding: 0 10px 0 0;
		}

	.viewport-padding .sliding-bit{
		width:10000px;
	}

	.viewport-padding .arrow{
		position:absolute;
		top:30px;
	}

	.viewport-padding .arrow.left{
		left:0;
	}

	.viewport-padding .arrow.right{
		right:0;
	}

/* ----- LIST PAGE ----- */
/* first of every 3 */
#sections section:nth-child(3n+1) header {  
	background-image: url("../img/YellowBand.gif");
}

	#sections section:nth-child(3n+1) header h2 {  
		left: 50%;
	}

/* second of every 3 */
#sections section:nth-child(3n+2) header {  
	background-image: url("../img/RedBand.gif");
}

/* third of every 3 */
#sections section:nth-child(3n+3) header {  
	background-image: url("../img/BlueBand.gif");
}

	#sections section:nth-child(3n+3) header h2 {  
		right: 10%;
	}

.section-nav{
	margin: 0;
	min-height: 0;
}

	.section-nav .navbar-brand{
		color:#00af9d;
		font-family: 'League Gothic', sans-serif;
		font-size:26px;
		height:inherit;
		padding:2px 5px 5px;
		text-transform:uppercase;
	}

	.section-nav .navbar-nav{
		margin:0;
	}

		.section-nav .navbar-nav > li{
			display: inline-block;
		}

		.section-nav .navbar-nav > li > a{
			border-left:2px solid #00af9d;
			color:#f58220;
			font-family: 'League Gothic', sans-serif;
			font-size:26px;
			padding:2px 5px 5px;
			text-transform:uppercase;
		}

			.section-nav .navbar-nav > li:first-child > a{
				border-left:none;
			}

		.section-nav .navbar-nav > li > a:hover, 
		.section-nav .navbar-nav .nav > li > a:focus{
			background-color:transparent;
		}

.WinnerBanner{
	background:url(../img/WinnerBanner.gif) center center;
	height:72px;
	margin:46px 0 3px;
	width:100%;
}

.entries{
	list-style: none;
	padding:0;
}

	.entries li{
		height:240px;
		padding:0;
		width:240px;
	}

	.entries a{
		display: inline-block;
		position:relative;
	}

		.entries a .info{
			background: rgba(0,0,0,0.2);
			left:0;
			height:100%;
			opacity:0.5;
			overflow:hidden;
			padding:17px;
			position:absolute;
			text-overflow:ellipsis;
			top:0;
			transition: all 0.5s;
			width:100%;
		}

			.entries a:hover .info,
			.entries a:focus .info{
				left:0;
				height:100%;
				opacity:1;
				overflow:hidden;
				padding:17px;
				position:absolute;
				text-overflow:ellipsis;
				top:0;
				width:100%;
			}

	.entries h2{
		color: #FFFFFF;
		font-family: 'League Gothic',sans-serif;
		font-size: 50px;
		line-height: 85%;
		margin: 0 0 11px;
		text-transform: uppercase;
	}

	.entries h3{
		color: #FFFFFF;
		font-family: 'League Gothic',sans-serif;
		font-size: 24px;
		line-height: 85%;
		margin: 0;
		text-transform: uppercase;
	}


/* ----- DETAILS PAGE ----- */

section#delivery .header{
	background-image: url("../img/YellowBand.gif");
}

#entry-nav {
	font-family: 'League Gothic',sans-serif;
}

section#credits .header {
	background-image: url("../img/RedBand.gif");
}

/* ----- MEDIA QUERIES ----- */


@media (min-width: 1200px){
	.container {
		width: 960px;
		padding-left: 0;
		padding-right: 0;
	}
}

@media (max-width: 992px) {
	header.comic-strip {
		background-image: none;
		height: auto;
	}

		header.comic-strip .container {
			width: 100%;
			padding-left: 0;
			padding-right: 0;
		}

			header.comic-strip .container:hover {
				background-image: none;
			}

			header.comic-strip .container:hover img {
			display: inherit;
		}

		header.comic-strip img {
			width: 100%;
		}

	section.primary {
		margin: 0 0 46px 0;
	}

		section.primary .container {
			width: 100%;
			padding-left: 0;
			padding-right: 0;
		}

	#carousel-winners {
		margin-bottom: 100px;
	}

	.winners {
		margin-top: 270px;
	}

	#carousel-winners-info {
		display: none;
	}

	.background {
		display:none;
	}

	section.judges img {
		float: left;
		margin-right: 30px;
	}
	section.judges .col-md-3 {
		height: 203px;
	}
}

@media (max-width: 768px) {
	.winners {
		margin-top: 65px;
	}

		.winners img {
			width: 200px;
		}

	#carousel-winners {
		margin-bottom: 45px;
	}

	section.judges .col-md-3 {
		height: 190px;
	}

	section.judges img {
		width: 180px;
	}

	section.judges h3 {
		font-size: 1.8em;
		margin: 0 0 0 0;
	}

	section.judges h4 {
		font-size: 1.0em;
		margin: 0 0 0 0;
	}

	section.judges p {
		font-size: 0.8em;
	}

}

